/******font******/
@font-face {
    font-family: "circular-bold";
    src: url(/fonts/CircularStd-Black.otf) format("opentype");;
    font-weight: bold;
}

@font-face {
    font-family: "circular-regular";
    src: url(/fonts/CircularStd-Book.otf) format("opentype");;
}

canvas#features-chart {
    min-width:100%;
}
#section1 canvas{
    min-width: 100vw; min-height: calc(100vh - 20px);
}
/*****body*****/
body{
    margin:0;
    position: relative;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "circular-regular";
    overflow-y: hidden;
}

main{
    width:100vw;
    height:100vh;
    padding:0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    filter:blur(3px);
}

#index{
    margin:20vh 0;
    height:60vh;
}

section#features-chart-container {
    display: contents;
}

#section1 {
    height: calc(100vh - 100px);
    top: 0;
    display: flex;
    justify-content: center;
}


/*****titles*****/
h1{
    color:white;
    font-family: "circular-bold";
    font-size:5em;
    margin:0;
    transform: skewY(12deg);
    filter: drop-shadow(0px 0px 15px #1db954);
}

h2{
    color:#1db954;
    font-family: "circular-bold";
    font-size:3em;
    font-weight: 400;
    padding: 10px 0;
    margin:0;
    transform: skewY(-12deg);
}


/*****popin*****/
#popup {
    z-index: 9999;
    position: absolute;
    top: 10%;
    border-radius: 50px;
    width: 50%;
    text-align: center;
}

#search{
    margin: 5% 0;
    border-radius: 50px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: none;
    border-width: 00;
    font-family: "circular-regular";
    font-size: 1.4em;
    color: black;
}

#search:focus{
    outline: none;
}

#isConnected{
    position: relative;
    margin: 8% 0;
}

#isConnected > input{
    width: 50%;
}

#isConnected > img {
    left: 75%;
    top: 40%;
    position: absolute;
    transform: translateX(calc(-50% - 20px));
}

#login{
    color: #fff;
    background-color: #1db954;
    margin: 8% 0;
    border-radius: 25px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: none;
    border-width: 00;
    font-family: "circular-regular";
    font-size: 1.4em;
    text-decoration: none;
}

#bg_blur {
    display: none;
    position: absolute;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    background-color: black;
}

/*****list*****/
ul#results {
    list-style: none;
    min-height: 50px;
    margin: 0;  
    padding: 0;
}

li.text-salmon {
    margin: 1%;
    color: white;
    font-family: sans-serif;
    padding: 15px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 1s;
    border-radius: 50px; 
}

li.text-salmon:hover {
    background-color: rgba(100, 100, 100, 0.200);
    transition: 0.5s;
}

.trackName {
    width: 45%;
    text-align: left;
    margin: 0;
    font-family: "circular-regular";
}

.trackArtist{
    width: 45%;
    text-align: left;
    font-family: "circular-bold";
    margin: 0;
    margin-left: 4%;
}

span.trackImg {
    right: 25px;
}

.imgAlbulm{
    width:30px;
    object-fit:contain
}


/*****bg_logo*****/
.fadeout{
    opacity: 0 !important; 
    transition: 3s !important;
}

.fadein{
    display: block !important;
    opacity: 1 !important; 
    transition: 3s;
}

#bg_logo{
    position: absolute;
    opacity: 0.15;
}


/****bar_bottom*****/
#playButton{
    z-index: 9999;
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 3s;
}

#imgButton{
    height:18px;
    object-fit: contain;
}

/*****screen_mode*****/
#screen_mode{
    z-index: 9999;
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 50%;
    width: auto;
}

#close{
    display: none;
    opacity: 0.25;
    height: 4%;
    width: auto;
    cursor: pointer;
}

#open{
    opacity: 0.25;
    height: 4%;
    width: auto;
    cursor: pointer;
}


/******canvas***/
#section1 > canvas {
    position: absolute;
    top: 0;
}